//* Colores
$cobackgroundlor-: #0d0d0d;
$color-text: #fff;
$color-blur: rgba(13, 13, 13, 0.5);
$color-hover-link: #ddd;
$color-menu-link: hsl(0, 0%, 70%);
$color-actions-separator: #5f5e5e;
$colot-text-dark: #000;
$color-text-light: hsl(0, 0%, 100%);
$color-gray-light: hsl(0, 0%, 50%);


//* Tipografías
$font-primary: "Inter", serif;
$font-secondary: "IBM Plex Mono", serif;
$font-tertiary: "Roboto", sans-serif;

//* Tamaños
$font-size-very-small: 0.6875rem;
$font-size-small: 0.875rem;

//* grosor de fuente
$font-weight-light: 450;
$font-weight-medium: 500;   

//* Espaciados
$spacing-small: 0.5rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;

//* Border Radius
$border-radius-small: 0.5rem;
$border-radius-medium: 0.75rem;

//* generic size   
$size-small: 1rem;
$size-medium: 4rem;




