<nav class="navbar__submenu-products navbar__submenu" role="menu" aria-label="Product Submenu">
    <div class="navbar__submenu-container">
        <p>{{title}}</p>
        <div class="nabvar__submenu--items">
            <div class="navbar__submenu-cards">

                @for(item of cards; track $index) {
                    <div class=" {{classCard}}">
                        <img alt="{{item.altText}}" src="{{item.imgSrc}}" label="Advance Amount Card">
                        <p>{{item.label}}</p>
                    </div>
                }

            </div>
            <hr class="submenu__separator" aria-hidden="true">
            <div class="submenu__list">
                <div class="submenu__option">
                    <p>{{links.title}}</p>
                    @for (item of links.ref; track $index) {
                        <a href="{{item.href}}">{{item.text}}</a>
                    }
                </div>
                <div class="submenu__option">
                    <p>Support</p>
                    <a href="">Contact</a>
                </div>

            </div>
        </div>
    </div>

 </nav>

<!--
<nav class="navbar__submenu--sing-in navbar__submenu" role="menu" aria-label="Product Submenu">
    <div class="navbar__submenu-container">
        <p>Embededd Financial services</p>
        <div class="nabvar__submenu--items">
            <div class="navbar__submenu-cards ">
                <div class="card card__black">
                    <img alt="Advance Amount Card " src="./public/images/merchant-app.webp"
                        alt="Merchant app">
                    <p>For Businesses</p>
                </div>
                <div class="card  card__red">
                    <img alt src="./images/partner-portal.webp" alt="Partner Portal">
                    <p>For Partners</p>
                </div>


            </div>
            <hr class="submenu__separator" aria-hidden="true">
            <div class="submenu__list">
                <div class="submenu__option">
                    <p>New user</p>
                    <a href="">Sign up</a>
                    <a href="">Book a demo</a>
                </div>
                <div class="submenu__option">
                    <p>Support</p>
                    <a href="">Contact</a>
                </div>

            </div>
        </div>
    </div>


</nav>
<nav class="navbar__submenu--resource navbar__submenu" role="menu" aria-label="Product Submenu">
    <div class="navbar__submenu-container">
        <p>Embededd Financial services</p>
        <div class="nabvar__submenu--items">
            <div class="navbar__submenu-cards ">
                <div class="card__info">
                    <img alt="Advance Amount Card "
                        src="./public/images/pipe-gtm-support-banner-desktop.jpg" alt="pipe gtm support">
                    <p>Will 2025 be the year of embedded finance for software companies?</p>
                </div>
                <div class="card__info">
                    <img alt src="./public/images/pipe-capital-banner-desktop.jpg"
                        alt="capital banner desktop">
                    <p>Pipe Capital: A merchant-friendly cash advance model built to improve capital access
                        for SMBs</p>
                </div>

                <div class="card__info">
                    <img alt src="./public/images/pipe-2025-banner-desktop.jpg" alt="2025 banner desktop">
                    <p>Pipe's recipe for a successful embedded finance GTM strategy</p>
                </div>
            </div>
            <hr class="submenu__separator" aria-hidden="true">
            <div class="submenu__list">
                <div class="submenu__option">
                    <p>Resources</p>
                    <a href="">Blog</a>
                    <a href="">FAQs</a>
                    <a href="">API</a>
                    <a href="">Documentation</a>
                </div>
                <div class="submenu__option">
                    <p>Support</p>
                    <a href="">Contact</a>
                </div>

            </div>
        </div>
    </div>


</nav>
<nav class="navbar__submenu--company navbar__submenu" role="menu" aria-label="Product Submenu">
    <div class="navbar__submenu-container">
        <p>Embededd Financial services</p>
        <div class="nabvar__submenu--items">
            <div class="navbar__submenu-cards ">
                <div class="card__info">
                    <img alt="Advance Amount Card " src="./public/images/new-exec-hires-2x.jpg"
                        alt="new exec hires">
                    <p>Pipe Appoints New Executive Leaders to Support Scale and Expansion for Embedded
                        Financial Solutions to Drive Small Business Growth </p>
                </div>
                <div class="card__info">
                    <img alt src="./public/images/best-remote-workplace-2x-1.jpg"
                        alt="best remote workplace">
                    <p>Pipe Named a 2025 Best Remote and Hybrid Workplace in America by Best Companies Group
                    </p>
                </div>

                <div class="card__info">
                    <img alt src="./public/images/pymnts-2x.webp" alt="pymnts">
                    <p>Pipe CEO Says Business Card Product Shifts Small Business Capital From Banks to
                        Software Platforms</p>
                </div>
            </div>
            <hr class="submenu__separator" aria-hidden="true">
            <div class="submenu__list">
                <div class="submenu__option">
                    <p>Company</p>
                    <a href="">About</a>
                    <a href="">Careers</a>
                    <a href="">Newsroom</a>
                </div>
                <div class="submenu__option">
                    <p>Support</p>
                    <a href="">Contact</a>
                </div>

            </div>
        </div>
    </div>


</nav>
 -->
