@use '../../styles/variables' as vars;
@use '../../styles/mixin' as mix;

.navbar {
    background-color: vars.$color-blur;
    backdrop-filter: blur(20px);
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 100;
    padding-top: vars.$spacing-medium;
    padding-bottom: vars.$spacing-medium;
    transition: transform 0.3s ease-in-out;
    &.hidden {
      transform: translateY(-100%); /* Oculta la navbar */
    }
  
    &__container {
      @include mix.flex-center();
      width: 100%;
      padding: 0 vars.$spacing-large;
      max-width: 100%;
      gap: vars.$size-medium;
      z-index: 10;
      transition: transform 0.3s ease-in-out;
    }
  
    &__logo {
      flex-grow: 0;
      width: auto;
      @include mix.flex-center();
      z-index: 1000;
    }
  
    &__link {
      @include mix.typography(vars.$font-size-small, vars.$font-weight-light, 145%, hsl(0, 0%, 90%));
      letter-spacing: 0.00625;
      text-decoration: none;
      cursor: pointer;
      & svg {
        color: hsl(0, 0%, 90%);
        display: block;
      }
    }
  
    &__section {
      @include mix.flex-center();
      flex-grow: 1;
      z-index: 100;
    }
    &__menu {
      @include mix.flex(row, flex-start, center, 1.25rem);
      padding-left: vars.$size-small;
      &-list {
        display: flex;
        list-style: none;
        gap: 1.2rem;
      }
    }
  


  
    &__actions {
      @include mix.flex(row, flex-start, center, 1.25);
      gap: 1.25;
      &-list {
        @include mix.flex(row, flex-start, center, 1.25rem);
        list-style: none;
      }
      &--separator {
        font-size: 14px;
        color: vars.$color-actions-separator;
      }
      &-link:hover {
        color: vars.$color-text;
      }
    }
  
    &__button {
      @include mix.button-style(#333, #333);
      @include mix.typography(vars.$font-size-small, 600, 1.45rem, vars.$color-text);
      transition: background-color 0.2s ease-in-out;
    }
  }


    
