
    <header class="navbar">
        <div class="navbar__container">
            <div class="navbar__logo">
                <a href="#" class="navbar__link">
                    <svg width="56" height="24">
                        <use xlink:href="/assets/icons/icons.svg#pipe-logo"></use>
                    </svg>
                    
                </a>    
            </div>
         
            
            <div class="navbar__section">
                <app-menu-section></app-menu-section>
                <app-menu-actions></app-menu-actions>

            </div>

        </div>

    </header>