

<section class="insights" aria-labelledby="insights">
    <div class="insights__data">

        <div class="insights__data-left">
            <p>Expert Insights</p>
            <h4>
                Thoughts from Pipe's veteran leadership team on why the future of finance is embedded
            </h4>
        </div>
        <div class="insights__button">
            <a href="">Read more</a>
        </div>

    </div>
    <div class="insights__cards">
        <ul class="insights__list" role="list" aria-labelledby="insights-title">
            <li class="insights__item">
                <article class="insights__article">
                    <p class="insights__number" aria-hidden="true">01</p>
                    <div class="insights__personal">
                        <h3>Luke Voiles</h3>
                        <p>Chief Executive Officer</p>
                    </div>
                    <div class="insights__text">
                        <p>Should vertical software companies develop in-house embedded financing or partner?
                        </p>
                        <a href="#">Read more</a>
                    </div>
                </article>
            </li>
            <li class="insights__item">
                <article class="insights__article insights__article--second">
                    <p class="insights__number" aria-hidden="true">02</p>
                    <div class="insights__personal insights__personal--white">
                        <h3>Ben Goodyear</h3>
                        <p>Chief Financial Officer</p>
                    </div>
                    <div class="insights__text insights__text--white">
                        <p>How to unlock financial data as a growth tool, no matter your business size.
                        </p>
                        <a href="#">Read more</a>
                    </div>
                </article>
            </li>
            <li class="insights__item ">
                <article class="insights__article insights__article--third">
                    <p class="insights__number" aria-hidden="true">03</p>
                    <div class="insights__personal">
                        <h3>Amy Loh</h3>
                        <p>Chief Marketing Officer</p>
                    </div>
                    <div class="insights__text">
                        <p>Increasing your embedded finance success with embedded Go-to-Market support.
                        </p>
                        <a href="#">Read more</a>
                    </div>
                </article>
            </li>
            <li class="insights__item ">
                <article class="insights__article insights__article--fourth">
                    <p class="insights__number" aria-hidden="true">04</p>
                    <div class="insights__personal">
                        <h3>Manpreet Dhot</h3>
                        <p>Chief Risk Officer</p>
                    </div>
                    <div class="insights__text">
                        <p>Can embedded capital democratize credit access with unbiased data?
                        </p>
                        <a href="#">Read more</a>
                    </div>
                </article>
            </li>

        </ul>
    </div>
</section>
