

<section class="insights" aria-labelledby="insights">
    <div class="insights__data">

        <div class="insights__data-left">
            <p>Expert Insights</p>
            <h4>
                Thoughts from Pipe's veteran leadership team on why the future of finance is embedded
            </h4>
        </div>
        <div class="insights__button">
            <a href="">Read more</a>
        </div>

    </div>
    <div class="insights__cards">
           <app-cards [insights]="insightsData"></app-cards>
    </div>
</section>
