<section class="partners">
    <header class="partners__header">
        <div class="partners__data">
            <p>Our Partners</p>
            <h2>Industry leaders deliver winning solutions with Pipe</h2>
        </div>
        <p>From vertical SaaS to payments platforms, partners are choosing to embed Pipe's products.

            <span class="partners__header-description">
                We handle the complexities of financial products so you're free to focus on your
                customers.</span>
        </p>
    </header>
    <div class="partners__testimonial">
        <div class="partners__logos">
            <div class="partners__logos-wrapper">
                <img src="./images/priority.png" alt=" Logo priority">
                <img src="./images/infinicept.png" alt=" Logo infinicep">
                <img src="./images/boulevard.png" alt=" Logo boulevard">
                <img src="./images/housecall-pro.png" alt=" Logo house call pro">
                <img src="./images/gocardless-light.png" alt=" Logo go Card less ligth">
            </div>
        </div>
        <div class="partners__testimonial-author">
            <div class="partners__container">
                <div class="partners__picture">
                    <img src="./images/tom-priore.png" alt="Tom Priore, CEO de Priority">
                </div>
                <div class="partners__information">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="38" viewBox="0 0 33 38"
                        fill="none">
                        <path d="M16.8423 18.3995L21.7262 15.58L16.8423 12.7597L11.9577 15.58L16.8423 18.3995Z"
                            fill="white" />
                        <path
                            d="M6.03 13.3152L0.684082 10.2295V34.4477L6.06739 37.5573V13.3264C6.05393 13.3197 6.03972 13.3227 6.02701 13.3152"
                            fill="white" />
                        <path
                            d="M32.5016 9.36225L16.8414 0.321289L1.18497 9.36075L6.53164 12.4464C6.54435 12.4539 6.55108 12.4666 6.56304 12.4748L16.8414 6.5405L27.1676 12.5025L32.5016 9.36225Z"
                            fill="white" />
                        <path
                            d="M27.6135 13.4034V25.1981L17.3433 31.1272V37.3464L32.9998 28.3077V10.2325L27.6135 13.4034Z"
                            fill="white" />
                        <path d="M16.3407 31.128L11.4554 28.3078V34.527L16.3407 37.3472V31.128Z" fill="white" />
                        <path d="M16.3407 19.2682L11.4554 16.448V22.0885L16.3407 24.9088V19.2682Z"
                            fill="white" />
                        <path d="M17.3433 19.2682V24.9087L22.2279 22.0885V16.4487L17.3433 19.2682Z"
                            fill="white" />
                    </svg>
                    <blockquote cite="https://pipe.com/" aria-label="Quote from Pipe">
                        Working with Pipe has been a pleasure, as they have truly been a partner in every step
                        of
                        the process, from implementation to revenue activation. Their dedication and seamless
                        collaboration have been incredibly impressive throughout our journey together.
                    </blockquote>
                    <div class="partners__testimonial-data">
                        <div>
                            <p class="partners__name">Tom Priore</p>
                            <p class="partners__company">Executive Chaiman & CEO, priority</p>
                        </div>
                        <a aria-label="Read the full case study for Priority">See case study</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>